In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [3]:
df.head()

,code,trade_date,open,high,low,close,volume,Upward Movement,Downward Movement,Ave Upward,Ave Movement,Relative Strength,RSI 14,MA 20,MA 50,MA 100
0,2GO,6/4/2012,1.75,1.75,1.75,1.75,5000.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,2GO,6/5/2012,1.75,1.98,1.75,1.90,8000.0,0.15,0.00,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,2GO,6/7/2012,1.96,1.96,1.80,1.80,8000.0,0.00,0.10,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,2GO,6/11/2012,1.90,1.98,1.90,1.98,50000.0,0.18,0.00,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,2GO,6/13/2012,1.99,1.99,1.90,1.90,19000.0,0.00,0.08,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [4]:
df.columns

Index(['code', 'trade_date', 'open', 'high', 'low', 'close', 'volume',
       'Upward Movement', 'Downward Movement', 'Ave Upward', 'Ave Movement',
       'Relative Strength', 'RSI 14 ', 'MA 20', 'MA 50', 'MA 100'],
      dtype='object')

In [5]:
df.fillna(0, inplace=True)

In [6]:
df.columns

Index(['code', 'trade_date', 'open', 'high', 'low', 'close', 'volume',
       'Upward Movement', 'Downward Movement', 'Ave Upward', 'Ave Movement',
       'Relative Strength', 'RSI 14 ', 'MA 20', 'MA 50', 'MA 100'],
      dtype='object')

In [7]:
features = df[['open', 'high', 'low', 'close', 'volume',
       'Upward Movement', 'Downward Movement', 'Ave Upward', 'Ave Movement',
       'Relative Strength', 'RSI 14 ', 'MA 20', 'MA 50', 'MA 100']]

In [8]:
features.head(10)

,open,high,low,close,volume,Upward Movement,Downward Movement,Ave Upward,Ave Movement,Relative Strength,RSI 14,MA 20,MA 50,MA 100
0,1.75,1.75,1.75,1.75,5000.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.75,1.98,1.75,1.90,8000.0,0.15,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.96,1.96,1.80,1.80,8000.0,0.00,0.10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.90,1.98,1.90,1.98,50000.0,0.18,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.99,1.99,1.90,1.90,19000.0,0.00,0.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.80,1.80,1.80,1.80,12000.0,0.00,0.10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.80,1.80,1.80,1.80,4000.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1.78,1.78,1.78,1.78,1000.0,0.00,0.02,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.78,1.78,1.76,1.76,2000.0,0.00,0.02,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1.76,1.76,1.76,1.76,4000.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
from sklearn.cluster import KMeans

In [10]:
kmeans = KMeans(n_clusters=3)

In [11]:
kmeans.fit(features)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [12]:
kmeans.labels_

array([0, 0, 0, ..., 0, 0, 0])

In [13]:
df['Cluster'] = kmeans.labels_

In [14]:
df['Cluster'].unique()

array([0, 2, 1], dtype=int64)

In [15]:
cleaned_data_cluster_0 = df[df['Cluster'] == 0]

In [16]:
cleaned_data_cluster_1 = df[df['Cluster'] == 1]

In [17]:
cleaned_data_cluster_2 = df[df['Cluster'] == 2]

# Statistical Analysis for each cluster

In [18]:
cleaned_data_cluster_0.describe()

,open,high,low,close,volume,Upward Movement,Downward Movement,Ave Upward,Ave Movement,Relative Strength,RSI 14,MA 20,MA 50,MA 100,Cluster
count,718442.000000,718442.000000,718442.000000,718442.000000,7.184420e+05,718442.000000,718442.000000,718442.000000,718442.000000,718442.000000,718442.000000,718442.000000,718442.000000,718442.000000,718442.0
mean,61.844369,62.405821,61.315113,61.882172,1.021285e+07,0.504219,0.504204,0.504220,0.504206,3.785384,49.116384,61.544501,61.023725,60.180012,0.0
std,261.925563,263.933093,260.035769,262.022191,4.564109e+07,6.170326,7.963360,2.588367,2.753432,576.594784,13.162298,261.286927,260.271857,258.723181,0.0
min,0.000000,0.000000,0.000000,0.000000,-9.522300e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.670000,0.680000,0.660000,0.670000,5.000000e+04,0.000000,0.000000,0.007493,0.007906,0.720245,41.790000,0.640000,0.600000,0.530000,0.0
50%,3.000000,3.050000,2.950000,3.000000,4.100000e+05,0.000000,0.000000,0.029932,0.030338,0.956816,48.840000,2.950000,2.850000,2.690000,0.0
75%,14.000000,14.250000,13.900000,14.000000,2.810000e+06,0.020000,0.030000,0.124195,0.123037,1.308546,56.600000,13.900000,13.600000,13.140000,0.0
max,4000.000000,4000.000000,3900.000000,4000.000000,7.640000e+08,1034.991500,2029.992500,183.729287,175.607452,304563.802800,100.000000,3411.750000,3299.200000,3222.300000,0.0

In [19]:
cleaned_data_cluster_1.describe()

,open,high,low,close,volume,Upward Movement,Downward Movement,Ave Upward,Ave Movement,Relative Strength,RSI 14,MA 20,MA 50,MA 100,Cluster
count,98.000000,98.000000,98.000000,98.000000,9.800000e+01,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.0
mean,0.021394,0.025255,0.019984,0.023212,8.975594e+09,0.002867,0.000611,0.000944,0.000363,3.320115,68.992041,0.015510,0.011939,0.009490,1.0
std,0.023291,0.029637,0.021441,0.026384,5.459039e+09,0.006111,0.002242,0.001393,0.000488,4.068165,12.378484,0.015933,0.010420,0.009236,0.0
min,0.002300,0.002600,0.002200,0.002500,5.248400e+09,0.000000,0.000000,0.000021,0.000015,0.544251,35.240000,0.000000,0.000000,0.000000,1.0
25%,0.007025,0.007700,0.006600,0.007400,6.054908e+09,0.000000,0.000000,0.000201,0.000092,1.588781,61.372500,0.010000,0.010000,0.000000,1.0
50%,0.012000,0.014500,0.012000,0.014000,7.060830e+09,0.001000,0.000000,0.000462,0.000147,2.206354,68.810000,0.010000,0.010000,0.010000,1.0
75%,0.026500,0.028750,0.024000,0.026750,9.624770e+09,0.003000,0.000000,0.000975,0.000499,3.279473,76.635000,0.020000,0.020000,0.017500,1.0
max,0.136000,0.169000,0.125000,0.141000,3.917500e+10,0.045000,0.013000,0.007679,0.003653,32.549342,97.020000,0.120000,0.060000,0.050000,1.0

In [21]:
cleaned_data_cluster_2.describe()

,open,high,low,close,volume,Upward Movement,Downward Movement,Ave Upward,Ave Movement,Relative Strength,RSI 14,MA 20,MA 50,MA 100,Cluster
count,1996.000000,1996.000000,1996.000000,1996.000000,1.996000e+03,1996.000000,1996.000000,1996.000000,1996.000000,1996.000000,1996.000000,1996.000000,1996.000000,1996.000000,1996.0
mean,0.048626,0.052287,0.046420,0.049668,1.518275e+09,0.002712,0.009091,0.002181,0.008238,2.223581,60.008953,0.046733,0.046553,0.049644,2.0
std,0.264617,0.271031,0.255024,0.263992,8.624561e+08,0.013670,0.209608,0.011836,0.072968,3.193014,17.107147,0.294782,0.300386,0.322132,0.0
min,0.001900,0.002000,0.001800,0.001900,7.649100e+08,0.000000,0.000000,0.000009,0.000009,0.041923,0.000000,0.000000,0.000000,0.000000,2.0
25%,0.011000,0.012000,0.011000,0.012000,9.181075e+08,0.000000,0.000000,0.000211,0.000133,1.049065,51.182500,0.010000,0.010000,0.010000,2.0
50%,0.021000,0.022000,0.020000,0.021000,1.199945e+09,0.000100,0.000000,0.000500,0.000261,1.632113,61.975000,0.020000,0.020000,0.020000,2.0
75%,0.037000,0.039000,0.036000,0.037000,1.782942e+09,0.002000,0.000200,0.000853,0.000503,2.593271,72.145000,0.030000,0.030000,0.030000,2.0
max,9.310000,9.470000,9.080000,9.200000,5.173200e+09,0.400000,6.990000,0.188055,1.252938,71.008889,98.610000,9.240000,9.400000,9.460000,2.0

In [22]:
cleaned_data_cluster_0.to_csv('Cleaned Data Cluster 0.csv')
cleaned_data_cluster_1.to_csv('Cleaned Data Cluster 1.csv')
cleaned_data_cluster_2.to_csv('Cleaned Data Cluster 2.csv')