In [79]:
'''
Importing all the necessary libraries
'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df = pd.read_csv('Stock Features.csv')

In [5]:
'''
Preview of the Dataset
'''
df.head()

,code,trade_date,open,high,low,close,volume,MA 20 days,MA 50 days,MA 100 days,RSI 14 days
0,2GO,6/4/2012,1.75,1.75,1.75,1.75,5000.0,NaN,NaN,NaN,NaN
1,2GO,6/5/2012,1.75,1.98,1.75,1.90,8000.0,NaN,NaN,NaN,NaN
2,2GO,6/7/2012,1.96,1.96,1.80,1.80,8000.0,NaN,NaN,NaN,NaN
3,2GO,6/11/2012,1.90,1.98,1.90,1.98,50000.0,NaN,NaN,NaN,NaN
4,2GO,6/13/2012,1.99,1.99,1.90,1.90,19000.0,NaN,NaN,NaN,NaN

In [6]:
df.describe()

,open,high,low,close,volume,MA 20 days,MA 50 days,MA 100 days,RSI 14 days
count,720535.000000,720535.000000,720535.000000,720535.000000,7.205350e+05,720517.000000,720487.000000,720437.000000,720522.000000
mean,61.664862,62.224694,61.137137,61.702558,1.560983e+07,61.704683,61.706796,61.711025,49.382232
std,261.566012,263.570843,259.678756,261.662517,1.592219e+08,261.188425,260.586852,259.663616,12.921296
min,0.001200,0.000000,0.000000,0.000000,-9.522300e+06,0.000000,0.000000,0.000000,0.060000
25%,0.660000,0.670000,0.650000,0.660000,5.000000e+04,0.670000,0.680000,0.700000,41.880000
50%,3.000000,3.000000,2.940000,3.000000,4.130000e+05,3.000000,3.050000,3.120000,48.920000
75%,14.000000,14.200000,13.760000,14.000000,2.870000e+06,14.080000,14.210000,14.350000,56.730000
max,4000.000000,4000.000000,3900.000000,4000.000000,3.917500e+10,3411.750000,3299.200000,3222.300000,100.000000

In [7]:
'''
Shape (Rows and Cols)
'''
df.shape

(720536, 11)

In [8]:
'''
Replace Null data with 0
'''
df.fillna(0, inplace=True)

In [81]:
df.head(20)

,code,trade_date,open,high,low,close,volume,MA 20 days,MA 50 days,MA 100 days,RSI 14 days,MA Snap,Cluster
0,2GO,6/4/2012,1.75,1.75,1.75,1.75,5000.0,0.00,0.0,0.0,0.00,0,0
1,2GO,6/5/2012,1.75,1.98,1.75,1.90,8000.0,0.00,0.0,0.0,0.00,0,0
2,2GO,6/7/2012,1.96,1.96,1.80,1.80,8000.0,0.00,0.0,0.0,0.00,0,0
3,2GO,6/11/2012,1.90,1.98,1.90,1.98,50000.0,0.00,0.0,0.0,0.00,0,0
4,2GO,6/13/2012,1.99,1.99,1.90,1.90,19000.0,0.00,0.0,0.0,0.00,0,0
5,2GO,6/15/2012,1.80,1.80,1.80,1.80,12000.0,0.00,0.0,0.0,0.00,0,0
6,2GO,6/19/2012,1.80,1.80,1.80,1.80,4000.0,0.00,0.0,0.0,0.00,0,0
7,2GO,6/21/2012,1.78,1.78,1.78,1.78,1000.0,0.00,0.0,0.0,0.00,0,0
8,2GO,6/25/2012,1.78,1.78,1.76,1.76,2000.0,0.00,0.0,0.0,0.00,0,0
9,2GO,6/26/2012,1.76,1.76,1.76,1.76,4000.0,0.00,0.0,0.0,0.00,0,0
10,2GO,6/27/2012,1.76,1.76,1.76,1.76,45000.0,0.00,0.0,0.0,0.00,0,0
11,2GO,6/28/2012,1.76,1.76,1.76,1.76,4000.0,0.00,0.0,0.0,0.00,0,0
12,2GO,6/29/2012,1.94,1.94,1.94,1.94,2000.0,0.00,0.0,0.0,0.00,0,0
13,2GO,7/2/2012,1.94,1.94,1.88,1.88,34000.0,0.00,0.0,0.0,0.00,0,0
14,2GO,7/3/2012,1.89,1.89,1.89,1.89,2000.0,0.00,0.0,0.0,57.78,0,0
15,2GO,7/5/2012,1.93,1.93,1.89,1.89,8000.0,0.00,0.0,0.0,57.78,0,0
16,2GO,7/6/2012,1.90,1.90,1.90,1.90,10000.0,0.00,0.0,0.0,58.31,0,0
17,2GO,7/18/2012,1.90,1.90,1.90,1.90,1000.0,0.00,0.0,0.0,58.31,0,0
18,2GO,7/20/2012,1.90,1.90,1.90,1.90,9000.0,0.00,0.0,0.0,58.31,0,0
19,2GO,7/31/2012,1.80,1.80,1.80,1.80,3000.0,1.84,0.0,0.0,50.32,1,0

In [51]:
def ma_snap(bol):
    if bol == True:
        return 1
    else:
        return 0

In [52]:
df['MA Snap'] = df['MA 20 days'] > df['close']

In [54]:
df['MA Snap'] = df['MA Snap'].apply(ma_snap)

In [55]:
df['MA Snap'].unique()

array([0, 1], dtype=int64)

In [57]:
df.columns

Index(['code', 'trade_date', 'open', 'high', 'low', 'close', 'volume',
       'MA 20 days', 'MA 50 days', 'MA 100 days', 'RSI 14 days', 'MA Snap'],
      dtype='object')

In [59]:
df.dtypes

code            object
trade_date      object
open           float64
high           float64
low            float64
close          float64
volume         float64
MA 20 days     float64
MA 50 days     float64
MA 100 days    float64
RSI 14 days    float64
MA Snap          int64
dtype: object

In [82]:
'''
Features are the numeric data only stock code and date not included
'''
features = df[['open', 'high', 'low', 'close', 'volume',
       'MA 20 days', 'MA 50 days', 'MA 100 days', 'RSI 14 days', 'MA Snap']]

# K-Means Clusting Algorithm


For video refference how it works please click on the link below


https://www.youtube.com/watch?v=3vHqmPF4VBA

In [63]:
from sklearn.cluster import KMeans

In [64]:
'''
Instantiate K_means and define 3 cluster
'''
k_means = KMeans(n_clusters=3)

In [65]:
'''
fit it on the dataset
'''
k_means.fit_transform(features)

array([[1.02078496e+07, 8.97558878e+09, 1.51827039e+09],
       [1.02048496e+07, 8.97558578e+09, 1.51826739e+09],
       [1.02048496e+07, 8.97558578e+09, 1.51826739e+09],
       ...,
       [3.10371504e+07, 8.93434378e+09, 1.47702539e+09],
       [2.53187150e+08, 8.71219378e+09, 1.25487539e+09],
       [1.02128496e+07, 8.97559378e+09, 1.51827539e+09]])

In [67]:
k_means.labels_

array([0, 0, 0, ..., 0, 0, 0])

In [68]:
df['Cluster'] = k_means.labels_

In [75]:
cluster_0 = df[df['Cluster'] == 0]

In [76]:
cluster_1 = df[df['Cluster'] == 1]

In [77]:
cluster_2 = df[df['Cluster'] == 2]

,code,trade_date,open,high,low,close,volume,MA 20 days,MA 50 days,MA 100 days,RSI 14 days,MA Snap,Cluster
0,2GO,6/4/2012,1.750,1.750,1.750,1.750,5000.0,0.00,0.00000,0.0000,0.00,0,0
1,2GO,6/5/2012,1.750,1.980,1.750,1.900,8000.0,0.00,0.00000,0.0000,0.00,0,0
2,2GO,6/7/2012,1.960,1.960,1.800,1.800,8000.0,0.00,0.00000,0.0000,0.00,0,0
3,2GO,6/11/2012,1.900,1.980,1.900,1.980,50000.0,0.00,0.00000,0.0000,0.00,0,0
4,2GO,6/13/2012,1.990,1.990,1.900,1.900,19000.0,0.00,0.00000,0.0000,0.00,0,0
5,2GO,6/15/2012,1.800,1.800,1.800,1.800,12000.0,0.00,0.00000,0.0000,0.00,0,0
6,2GO,6/19/2012,1.800,1.800,1.800,1.800,4000.0,0.00,0.00000,0.0000,0.00,0,0
7,2GO,6/21/2012,1.780,1.780,1.780,1.780,1000.0,0.00,0.00000,0.0000,0.00,0,0
8,2GO,6/25/2012,1.780,1.780,1.760,1.760,2000.0,0.00,0.00000,0.0000,0.00,0,0
9,2GO,6/26/2012,1.760,1.760,1.760,1.760,4000.0,0.00,0.00000,0.0000,0.00,0,0
10,2GO,6/27/2012,1.760,1.760,1.760,1.760,45000.0,0.00,0.00000,0.0000,0.00,0,0
11,2GO,6/28/2012,1.760,1.760,1.760,1.760,4000.0,0.00,0.00000,0.0000,0.00,0,0
12,2GO,6/29/2012,1.940,1.940,1.940,1.940,2000.0,0.00,0.00000,0.0000,0.00,0,0
13,2GO,7/2/2012,1.940,1.940,1.880,1.880,34000.0,0.00,0.00000,0.0000,0.00,0,0
14,2GO,7/3/2012,1.890,1.890,1.890,1.890,2000.0,0.00,0.00000,0.0000,57.78,0,0
15,2GO,7/5/2012,1.930,1.930,1.890,1.890,8000.0,0.00,0.00000,0.0000,57.78,0,0
16,2GO,7/6/2012,1.900,1.900,1.900,1.900,10000.0,0.00,0.00000,0.0000,58.31,0,0
17,2GO,7/18/2012,1.900,1.900,1.900,1.900,1000.0,0.00,0.00000,0.0000,58.31,0,0
18,2GO,7/20/2012,1.900,1.900,1.900,1.900,9000.0,0.00,0.00000,0.0000,58.31,0,0
19,2GO,7/31/2012,1.800,1.800,1.800,1.800,3000.0,1.84,0.00000,0.0000,50.32,1,0
20,2GO,8/3/2012,1.700,1.700,1.700,1.700,3000.0,1.84,0.00000,0.0000,43.85,1,0
21,2GO,8/6/2012,1.700,1.700,1.700,1.700,2000.0,1.83,0.00000,0.0000,43.85,1,0
22,2GO,8/13/2012,1.690,1.690,1.690,1.690,33000.0,1.82,0.00000,0.0000,43.20,1,0
23,2GO,8/15/2012,1.700,1.700,1.700,1.700,2000.0,1.81,0.00000,0.0000,44.09,1,0
24,2GO,8/16/2012,1.720,1.720,1.700,1.700,28000.0,1.80,0.00000,0.0000,44.09,1,0
25,2GO,8/17/2012,1.710,1.710,1.710,1.710,2000.0,1.80,0.00000,0.0000,45.08,1,0
26,2GO,8/28/2012,1.700,1.700,1.700,1.700,1000.0,1.79,0.00000,0.0000,44.23,1,0
27,2GO,8/30/2012,1.700,1.700,1.700,1.700,8000.0,1.79,0.00000,0.0000,44.23,1,0
28,2GO,8/31/2012,1.960,1.960,1.960,1.960,1000.0,1.80,0.00000,0.0000,64.38,0,0
29,2GO,9/3/2012,1.960,1.960,1.960,1.960,1000.0,1.81,0.00000,0.0000,64.38,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
720506,ZHI,12/5/2018,0.224,0.224,0.224,0.224,80000.0,0.21,0.21000,0.2100,62.57,0,0
720507,ZHI,12/10/2018,0.224,0.224,0.224,0.224,100000.0,0.21,0.21000,0.2100,62.57,0,0
720508,ZHI,12/11/2018,0.227,0.227,0.227,0.227,10000.0,0.21,0.21000,0.2100,64.51,0,0
720509,ZHI,12/13/2018,0.227,0.227,0.227,0.227,10000.0,0.21,0.21000,0.2100,64.51,0,0
720510,ZHI,12/14/2018,0.195,0.195,0.195,0.195,20000.0,0.21,0.21000,0.2100,39.36,1,0
720511,ZHI,12/18/2018,0.200,0.220,0.200,0.220,1510000.0,0.21,0.21000,0.2100,54.34,0,0
720512,ZHI,12/19/2018,0.204,0.222,0.204,0.222,140000.0,0.21,0.21000,0.2100,55.29,0,0
720513,ZHI,12/21/2018,0.223,0.223,0.206,0.206,20000.0,0.21,0.21000,0.2100,46.87,1,0
720514,ZHI,12/26/2018,0.206,0.222,0.206,0.222,110000.0,0.21,0.21000,0.2100,54.35,0,0
720515,ZHI,12/27/2018,0.223,0.223,0.223,0.223,20000.0,0.21,0.21000,0.2100,54.78,0,0
720516,ZHI,1/2/2019,0.220,0.220,0.220,0.220,10000.0,0.21,0.21000,0.2100,53.17,0,0
720517,ZHI,1/3/2019,0.225,0.226,0.225,0.226,80000.0,0.21,0.21000,0.2100,55.96,0,0
720518,ZHI,1/4/2019,0.226,0.226,0.226,0.226,200000.0,0.22,0.21000,0.2100,55.96,0,0
720519,ZHI,1/7/2019,0.227,0.227,0.213,0.224,270000.0,0.22,0.21000,0.2100,54.70,0,0
720520,ZHI,1/9/2019,0.224,0.228,0.221,0.221,200000.0,0.22,0.21000,0.2100,52.78,0,0
720521,ZHI,1/11/2019,0.227,0.229,0.227,0.229,80000.0,0.22,0.21000,0.2100,57.11,0,0
720522,ZHI,1/16/2019,0.217,0.224,0.212,0.224,1410000.0,0.22,0.21000,0.2100,53.79,0,0
720523,ZHI,1/17/2019,0.228,0.228,0.213,0.213,110000.0,0.22,0.21000,0.2100,47.28,1,0
720524,ZHI,1/18/2019,0.224,0.224,0.224,0.224,10000.0,0.22,0.21000,0.2100,53.36,0,0
720525,ZHI,1/21/2019,0.227,0.227,0.227,0.227,10000.0,0.22,0.21000,0.2100,54.89,0,0
720526,ZHI,1/22/2019,0.225,0.225,0.225,0.225,10000.0,0.22,0.21000,0.2100,53.63,0,0
720527,ZHI,1/23/2019,0.227,0.227,0.227,0.227,50000.0,0.22,0.21000,0.2100,54.74,0,0
720528,ZHI,1/25/2019,0.227,0.228,0.227,0.228,60000.0,0.22,0.21000,0.2100,55.33,0,0
720529,ZHI,1/28/2019,0.212,0.212,0.212,0.212,10000.0,0.22,0.21000,0.2100,45.31,1,0
720530,ZHI,1/29/2019,0.229,0.229,0.213,0.213,270000.0,0.22,0.21000,0.2100,45.97,1,0
720531,ZHI,1/30/2019,0.226,0.227,0.225,0.227,170000.0,0.22,0.21000,0.2100,54.27,0,0
720532,ZHI,1/31/2019,0.229,0.249,0.227,0.231,5390000.0,0.22,0.22000,0.2100,56.33,0,0
720533,ZHI,2/1/2019,0.231,0.345,0.231,0.345,41250000.0,0.23,0.22000,0.2100,81.69,0,0
720534,ZHI,2/4/2019,0.390,0.485,0.360,0.470,263400000.0,0.24,0.22000,0.2200,89.14,0,0
720535,(720535 rows),0,0.000,0.000,0.000,0.000,0.0,0.23,0.21938,0.2153,33.67,1,0

# Cluster analysis

In [83]:
df.columns

Index(['code', 'trade_date', 'open', 'high', 'low', 'close', 'volume',
       'MA 20 days', 'MA 50 days', 'MA 100 days', 'RSI 14 days', 'MA Snap',
       'Cluster'],
      dtype='object')

# Statistical Analysis for each cluster

In [88]:
cluster_0.describe()

,open,high,low,close,volume,MA 20 days,MA 50 days,MA 100 days,RSI 14 days,MA Snap,Cluster
count,718442.000000,718442.000000,718442.000000,718442.000000,7.184420e+05,718442.000000,718442.000000,718442.000000,718442.000000,718442.000000,718442.0
mean,61.844369,62.405821,61.315113,61.882172,1.021285e+07,61.882563,61.881943,61.881524,49.348680,0.506276,0.0
std,261.925563,263.933093,260.035769,262.022191,4.564109e+07,261.544328,260.936743,260.003645,12.896269,0.499961,0.0
min,0.000000,0.000000,0.000000,0.000000,-9.522300e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.670000,0.680000,0.660000,0.670000,5.000000e+04,0.680000,0.690000,0.710000,41.870000,0.000000,0.0
50%,3.000000,3.050000,2.950000,3.000000,4.100000e+05,3.030000,3.070000,3.140000,48.900000,1.000000,0.0
75%,14.000000,14.250000,13.900000,14.000000,2.810000e+06,14.150000,14.260000,14.430000,56.680000,1.000000,0.0
max,4000.000000,4000.000000,3900.000000,4000.000000,7.640000e+08,3411.750000,3299.200000,3222.300000,100.000000,1.000000,0.0

In [89]:
cluster_1.describe()

,open,high,low,close,volume,MA 20 days,MA 50 days,MA 100 days,RSI 14 days,MA Snap,Cluster
count,98.000000,98.000000,98.000000,98.000000,9.800000e+01,98.000000,98.000000,98.000000,98.000000,98.000000,98.0
mean,0.021394,0.025255,0.019984,0.023212,8.975594e+09,0.015510,0.011939,0.044694,68.992041,0.285714,1.0
std,0.023291,0.029637,0.021441,0.026384,5.459039e+09,0.015933,0.010420,0.119364,12.378484,0.454077,0.0
min,0.002300,0.002600,0.002200,0.002500,5.248400e+09,0.000000,0.000000,0.000000,35.240000,0.000000,1.0
25%,0.007025,0.007700,0.006600,0.007400,6.054908e+09,0.010000,0.010000,0.002500,61.372500,0.000000,1.0
50%,0.012000,0.014500,0.012000,0.014000,7.060830e+09,0.010000,0.010000,0.010000,68.810000,0.000000,1.0
75%,0.026500,0.028750,0.024000,0.026750,9.624770e+09,0.020000,0.020000,0.020000,76.635000,1.000000,1.0
max,0.136000,0.169000,0.125000,0.141000,3.917500e+10,0.120000,0.060000,0.680000,97.020000,1.000000,1.0

In [90]:
cluster_2.describe()

,open,high,low,close,volume,MA 20 days,MA 50 days,MA 100 days,RSI 14 days,MA Snap,Cluster
count,1996.000000,1996.000000,1996.000000,1996.000000,1.996000e+03,1996.000000,1996.000000,1996.000000,1996.000000,1996.000000,1996.0
mean,0.048626,0.052287,0.046420,0.049668,1.518275e+09,0.120060,0.178472,0.308447,60.149729,0.266533,2.0
std,0.264617,0.271031,0.255024,0.263992,8.624561e+08,0.856608,1.338580,3.290390,16.766942,0.442257,0.0
min,0.001900,0.002000,0.001800,0.001900,7.649100e+08,0.000000,0.000000,0.000000,4.020000,0.000000,2.0
25%,0.011000,0.012000,0.011000,0.012000,9.181075e+08,0.010000,0.010000,0.010000,51.197500,0.000000,2.0
50%,0.021000,0.022000,0.020000,0.021000,1.199945e+09,0.020000,0.020000,0.020000,62.010000,0.000000,2.0
75%,0.037000,0.039000,0.036000,0.037000,1.782942e+09,0.030000,0.030000,0.030000,72.167500,1.000000,2.0
max,9.310000,9.470000,9.080000,9.200000,5.173200e+09,14.360000,17.590000,124.990000,98.610000,1.000000,2.0

# Value Analysis for each columns

## Cluser 0

In [99]:
print('Open (Highest and Lowest Value)')
print(cluster_0['open'].max())
print(cluster_0['open'].min())
print('\n')
print('High (Highest and Lowest Value)')
print(cluster_0['high'].max())
print(cluster_0['high'].min())
print('\n')
print('Low (Highest and Lowest Value)')
print(cluster_0['low'].max())
print(cluster_0['low'].min())
print('\n')
print('Close (Highest and Lowest Value)')
print(cluster_0['close'].max())
print(cluster_0['close'].min())
print('\n')
print('Close (Highest and Lowest Value)')
print(cluster_0['volume'].max())
print(cluster_0['volume'].min())

Open (Highest and Lowest Value)
4000.0
0.0


High (Highest and Lowest Value)
4000.0
0.0


Low (Highest and Lowest Value)
3900.0
0.0


Close (Highest and Lowest Value)
4000.0
0.0


Close (Highest and Lowest Value)
764000000.0
-9522300.0

## Cluster 1

In [100]:
print('Open (Highest and Lowest Value)')
print(cluster_1['open'].max())
print(cluster_1['open'].min())
print('\n')
print('High (Highest and Lowest Value)')
print(cluster_1['high'].max())
print(cluster_1['high'].min())
print('\n')
print('Low (Highest and Lowest Value)')
print(cluster_1['low'].max())
print(cluster_1['low'].min())
print('\n')
print('Close (Highest and Lowest Value)')
print(cluster_1['close'].max())
print(cluster_1['close'].min())
print('\n')
print('Close (Highest and Lowest Value)')
print(cluster_1['volume'].max())
print(cluster_1['volume'].min())

Open (Highest and Lowest Value)
0.136
0.0023


High (Highest and Lowest Value)
0.16899999999999998
0.0026


Low (Highest and Lowest Value)
0.125
0.0022


Close (Highest and Lowest Value)
0.141
0.0025


Close (Highest and Lowest Value)
39175000000.0
5248400000.0

## Cluster 2

In [109]:
print('Open (Highest and Lowest Value)')
print(cluster_2['open'].max())
print(cluster_2['open'].min())
print('\n')
print('High (Highest and Lowest Value)')
print(cluster_2['high'].max())
print(cluster_2['high'].min())
print('\n')
print('Low (Highest and Lowest Value)')
print(cluster_2['low'].max())
print(cluster_2['low'].min())
print('\n')
print('Close (Highest and Lowest Value)')
print(cluster_2['close'].max())
print(cluster_2['close'].min())
print('\n')
print('Close (Highest and Lowest Value)')
print(cluster_2['volume'].max())
print(cluster_2['volume'].min())

Open (Highest and Lowest Value)
9.31
0.0019


High (Highest and Lowest Value)
9.47
0.002


Low (Highest and Lowest Value)
9.08
0.0018


Close (Highest and Lowest Value)
9.2
0.0019


Close (Highest and Lowest Value)
5173200000.0
764910000.0

In [108]:
cluster_0.to_csv('Cluser 0.csv')
cluster_1.to_csv('Cluser 1.csv')
cluster_2.to_csv('Cluser 2.csv')